<br/>
<div class="row">
  <dd class='col-sm-6 text-left'>
    <div><b>Referral URL</b></div>
    <div class="input-group">
      <input type='text' data-coupon-code=true value='<%= referral_url(@user.referral.code) %>' disabled="disabled" />
      <span class="input-group-btn">
        <button class="btn btn-primary" data-copy-coupon-code=true type="button" title='Copy to clipboard'><span class='glyphicon glyphicon-copy'></span></button>
      </span>
    </div>
  </dd>
  <div class='col-sm-6'>
    <div><b>Referred Users</b></div>
    <div><%= @user.referred_count%></div>
    <%= link_to Spree.t(:details, scope: :referral), account_referral_details_path %>
  </div>
</div>
<br>
<% if @user.associated_partner.present? %>
  <dt>Affilate URL</dt>
  <dd class='col-md-6'>
    <div class="input-group">
      <input type='text' data-coupon-code=true value='<%= affiliate_url(@user.associated_partner.path) %>' class='form-control' />
      <span class="input-group-btn">
        <button class="btn btn-primary" data-copy-coupon-code=true type="button" title='Copy to clipboard'><span class='glyphicon glyphicon-copy'></span></button>
      </span>
    </div>
  </dd>
  <br>
  <br>
  <br>
  <div>
    <dt>Transactions Count</dt>
    <dd><%= @user.associated_partner.transactions.count %></dd>
  </div>
<% end %>
